.wrapper {
  display: flex;
  height: 50px;
  width: 100%;
}

.label {
  display: none;
}

.input {
  flex: 1 1 auto;
  height: 100%;
  padding: 0 10px;
  margin-right: 5px;
  font-size: 1.5rem;
}

.button {
  width: 250px;
  height: 100%;
}

@media (max-width: 768px) {
  .input {
    margin-right: 0;
  }
  .button {
    display: none;
  }
}
