.wrapper {
  height: 100%;
  position: relative;
}

.toggle {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.label {
  margin-right: 5px;
}

.input {
  width: 20px;
  height: 20px;
}

.white-theme {
  background-color: white;
  color: black;
}

.black-theme {
  background-color: lightgray;
  color: white;
}
